Options FollowSymLinks
AddDefaultCharset utf-8

#SetEnvIf Request_URI ^/for-sale require_auth=true
#SetEnvIf Request_URI ^/for-rent require_auth=true
#SetEnvIf Request_URI ^/posting-a-listing require_auth=true
#SetEnvIf Request_URI ^/development require_auth=true
#SetEnvIf Request_URI ^/service-packages require_auth=true
#SetEnvIf Request_URI ^/member require_auth=true
#SetEnvIf Request_URI ^/nha-dat-ban require_auth=true
#SetEnvIf Request_URI ^/nha-dat-cho-thue require_auth=true
#SetEnvIf Request_URI ^/dang-tin require_auth=true
#SetEnvIf Request_URI ^/du-an require_auth=true
#SetEnvIf Request_URI ^/goi-gia require_auth=true

#AuthName "Restricted Area - Authorization Required"
#AuthUserFile /var/www/live/ttgweb/apps/metvuong/.htpasswd
#AuthType Basic

#Order deny,allow
#Require valid-user

#Deny from all
#Allow from env=!require_auth
#Satisfy Any



#Order deny,allow
#Deny from all
#AuthName "Restricted Area - Authorization Required"
#AuthUserFile /var/www/stage/ttgweb/apps/metvuong/.htpasswd
#AuthType Basic
#Require valid-user
#Satisfy Any


<IfModule mod_rewrite.c>
    RewriteEngine On

    # the main rewrite rule for the frontend application
    RewriteCond %{REQUEST_URI} !^/(api/web|api)
    RewriteCond %{REQUEST_URI} !^/(backend/web|admin)
    RewriteCond %{REQUEST_URI} !^/(store)
    RewriteRule !^frontend/web /frontend/web%{REQUEST_URI} [L]

    # redirect to the page without a trailing slash (uncomment if necessary)
    #RewriteCond %{REQUEST_URI} ^/admin/$
    #RewriteRule ^(admin)/ /$1 [L,R=301]
    # the main rewrite rule for the backend application
    RewriteCond %{REQUEST_URI} ^/admin
    RewriteRule ^admin(.*) /backend/web/$1 [L]

    RewriteCond %{REQUEST_URI} ^/api
    RewriteRule ^api(.*) /api/web/$1 [L]

    # if a directory or a file of the frontend application exists, use the request directly
    RewriteCond %{REQUEST_URI} ^/frontend/web
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # otherwise forward the request to index.php
    RewriteRule . /frontend/web/index.php [L]

    # if a directory or a file of the backend application exists, use the request directly
    RewriteCond %{REQUEST_URI} ^/backend/web
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # otherwise forward the request to index.php
    RewriteRule . /backend/web/index.php [L]

    RewriteCond %{REQUEST_URI} \.(htaccess|htpasswd|svn|git)
    RewriteRule \.(htaccess|htpasswd|svn|git) - [F]
</IfModule>
