body {
    font-family: "Roboto";
}
header h1 {
    color: #CA2C2C;
}

<!-- Start popup style 1 -->
.login_modal_footer{margin-top:5px}.login_modal_header .modal-title{text-align:center;font-family:'Philosopher',sans-serif}.form-group{position:relative}.form-group .login-field-icon{font-size:20px;position:absolute;right:15px;top:3px;transition:all .25s ease 0;padding-top:2%}.login-modal{width:100%;padding-bottom:20px}.login_modal_header,.login_modal_footer{background:#00BB64!important;color:#fff}.modal-register-btn{margin:4% 33% 2%;width:100%}.login-modal input{height:40px;box-shadow:none;border:1px solid #ddd}.modal-body-left{float:left;width:50%;padding-right:4%;border-right:4px solid #ddd}.modal-body-right{float:right;width:47%}.login-link{padding:0 20%}.modal-social-icons{padding:0 10%}.facebook,.twitter,.google,.linkedin{width:100%;height:40px;padding-top:2%;margin-top:2%}.modal-icons{margin-left:-10px;margin-right:20px}.google,.google:hover{background-color:#dd4b39;border:2px solid #dd4b39;color:#fff}.twitter,.twitter:hover{background-color:#00aced;border:2px solid #00aced;color:#fff}.facebook,.facebook:hover{background-color:#3b5999;border:2px solid #3b5999;color:#fff}.linkedin,.linkedin:hover{background-color:#007bb6;border:2px solid #007bb6;color:#fff}#social-icons-conatainer{position:relative}#center-line{position:absolute;right: 272.7px;top:80px;background:#ddd;border:4px solid #DDD;border-radius:20px}.modal-login-btn{width:100%;height:40px;margin-bottom:10px}
<!-- End popup style 1 -->

.login-tab {
	margin: 0 auto;
	max-width: 380px;
}

.login-modal-header {
	background: #27ae60;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color: #fff;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 340px;
}

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}
.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}