
.big-field {
	border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    height: 34px;
    line-height: 34px;
    width: 100%;
    padding: 0 8px;
    font-size: 15px;
}
.avg-search-placeholder {
	display: none;
	padding-left: 40px;
	position: relative;
	overflow: hidden;
}
.active .avg-search-placeholder {
	display: block;
}
.active #avg-search {
	display: none;
}
#avg-search-wrap {
	position: relative;
	float: left;
	margin-right: 4px;
}
#avg-search {
	width: 300px;
}
#result-search-wrap {
	position: absolute;
    background: #FFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.result-search {
	list-style-type: none;
    padding: 0;
    margin: 0;
}
.result-search a {
	display: block;
    white-space: nowrap;
    padding: 6px 10px;
    border-bottom: 1px solid rgba(0, 0, 255, 0.2);
    text-decoration: none !important;
}

.result-search a:hover {
	background-color: #23527c;
    color: #FFF;
}

.avg-search-placeholder .close {
	position: absolute;
    left: 0px;
    top: 0px;
    background: blue;
    color: #FFF;
    width: 34px;
    height: 34px;
    line-height: 29px;
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    border-radius: 4px 0px 0px 4px;
}
#loading {
	text-align: center;
	padding: 20px;
}
#view {
	display: none;
}
.loaded #loading {
	display: none;
}
.loaded #view {
	display: block;
}

select {
	font-size: 15px;
    padding: 0 8px;
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    border: 1px solid rgb(169, 169, 169);
}

#filter-wrap > select {
    float: left;
    margin-right: 4px;
}
#input-wrap {
	display: none;
}

.active #input-wrap {
	display: block;
}

#view-wrap {
	clear: both;
	padding-top: 22px;
}

#input-wrap > a {
	float: left;
	margin-right: 4px;
}

#addition-setting {
	clear: left;
	padding-top: 12px;
}

label {
	margin-left: 6px;
}

label span {
	display: inline-block;
	vertical-align: top;
	padding-left: 2px;
	font-size: 15px;
}

.tab-title {
	float: left;
    background: #e6e7ea;
    color: #000;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 4px 4px 0 0;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    margin-right: 4px;
    display: block;
    opacity: 0.5;
    bottom: -1px;
    position: relative;
}
.tab-title:hover {
	text-decoration: none;
    opacity: 0.9;
}
.tab-title.active {
	text-decoration: none;
	opacity: 1;
    border-bottom: 1px solid #e6e7ea;
    z-index: 2;
}

#tabs-content {
	clear: left;
    border: 1px solid;
    overflow-x: auto;
}
.tab-content {
	display: none;
	padding: 12px;
}
.tab-content.active {
	display: table;
}
.avg-table {
	
}
.avg-table .area-title {
	font-weight: bold;
}
.avg-table td {
	border: 1px solid #dad7d7;
    padding: 4px 12px;
}
.avg-table .main {
	background-color: #F4F4F4;	
}
.field-set {
	border: 1px solid #afafaf;
    border-radius: 4px;
    padding: 16px 8px 8px 8px;
    position: relative;
    margin-top: 12px;
}
.field-set-legend {
	font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: -11px;
    background: #FFF;
    padding: 0 4px;
}

.avg-bed, .avg-bath {
	vertical-align: top;
}
.field-wrap {
	margin-top: 8px;
}
.field-wrap label {
	width: 120px;
}
#category_id {
	text-transform: capitalize;
}
.datepicker {
	width: 120px;
}