

label {
	margin-left: 6px;
}

label span {
	display: inline-block;
	vertical-align: top;
	padding-left: 2px;
	font-size: 15px;
}
.select-mask-real label {
	display: block;
    margin-bottom: 0;
    margin-left: 0;
    white-space: nowrap;
    width: initial;
    padding: 4px 8px;
    border-bottom: 1px solid #d6cece;
    font-weight: 500;
    text-transform: capitalize;
}
.select-mask-real {
	position: absolute;
    background: #FAFAFA;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
.show-real .select-mask-real {
	display: block;
}
.select-mask {
    display: inline-block;
    position: relative;
	vertical-align: middle;
}
.select-mask-show {
	border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    height: 34px;
    line-height: 34px;
    min-width: 120px;
    padding: 0 8px;
    font-size: 15px;
    width: 244px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}